global
    log         127.0.0.1:514 local0
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon
    stats socket /var/lib/haproxy/stats

    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend http-in
    bind 0.0.0.0:80
    mode http
    log-format "%[var(txn.host)] %ci:%cp %f %b %{+Q}r %ST %U %Tt"
    http-request set-var(txn.host) hdr(Host)
    redirect scheme https code 301 if !{ ssl_fc }

frontend https-in
    bind 0.0.0.0:443 ssl crt /etc/haproxy/certs/
    mode http
    log-format "%[var(txn.host)] %ci:%cp %f %b %{+Q}r %ST %U %Tt"
    http-request set-var(txn.host) hdr(Host)
    use_backend %[req.hdr(host),lower,map(/etc/haproxy/maps/hosts.map)]

backend static
    mode http
    balance roundrobin
    option forwardfor
    server static  10.10.0.112:80
