---
rich_rules: 
{% for zone in __firewalld_active_zones %}

{% if __firewalld_zones[zone]['rich_rules'] | length != 0 %}
{% if firewalld_rich_rules | length != 0 %}
{% for rule in __firewalld_zones[zone]['rich_rules'] | difference(firewalld_rich_rules | selectattr('zone', 'equalto', zone) | map(attribute='rule')) %}
  - rule: {{ rule }}
    zone: {{ zone }}
{% endfor %}
{% else %}
{% for rule in __firewalld_zones[zone]['rich_rules']  %}
  - rule: {{ rule }}
    zone: {{ zone }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}

services:
{% for zone in __firewalld_active_zones %}
{% if __firewalld_zones[zone]['services'] | length != 0 %}
{% if firewalld_services | length != 0 %}
{% for service in  __firewalld_zones[zone]['services'] | difference(firewalld_services | selectattr('zone', 'equalto', zone) | map(attribute='name')) %}
  - service: {{ service }}
    zone: {{ zone }}
{% endfor %}
{% else %}
{% for service in __firewalld_zones[zone]['services'] %}
  - service: {{ service }}
    zone: {{ zone }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}

ports:
{% for zone in __firewalld_active_zones %}
{% if __firewalld_zones[zone]['ports'] | length != 0 %}
{% if firewalld_ports | length != 0 %}
{% for port in  __firewalld_zones[zone]['ports'] | map('join','/') | difference(firewalld_ports | selectattr('zone', 'equalto', zone) | map(attribute='port'))%}
  - port: {{ port  }}
    zone: {{ zone }}
{% endfor %}
{% else %}
{% for port in __firewalld_zones[zone]['ports'] %}
  - port: {{ port | join('/') }}
    zone: {{ zone }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}

protocols:
{% for zone in __firewalld_active_zones %}
{% if __firewalld_zones[zone]['protocols'] | length != 0 %}
{% if firewalld_protocols | length != 0 %}
{% for protocol in  __firewalld_zones[zone]['protocols'] | difference(firewalld_protocols | selectattr('zone', 'equalto', zone) | map(attribute='name')) %}
  - protocol: {{ protocol }}
    zone: {{ zone }}
{% endfor %}
{% else %}
{% for protocol in __firewalld_zones[zone]['protocols'] %}
  - protocol: {{ protocol }}
    zone: {{ zone }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}

