server {
    listen 80;
    server_name {{ item['domain'] }} www.{{ item['domain'] }};
    root /var/www/{{ item['rel_path'] }};
    index index.html index.htm;

    access_log /var/log/nginx/{{ item['domain'] }}.access.log;
    error_log /var/log/nginx/{{ item['domain'] }}.error.log;

    location / {
        try_files $uri $uri/ =404;
    }
}
