#!/bin/python
from flask import Flask, request
import time

app = Flask(__name__)

@app.route('/', defaults={'path': ''}, methods=['GET', 'POST', 'PUT', 'DELETE', 'PATCH'])
@app.route('/<path:path>', methods=['GET', 'POST', 'PUT', 'DELETE', 'PATCH'])
def catch_all(path):
    print(f"Path: {path}")
    print(f"Headers: {dict(request.headers)}")
    print(f"Params: {request.args}")
    print(f"Data: {request.data}")

    # Wait for 5 seconds


    return f"{{ inventory_hostname }}\nlb_ip: { request.remote_addr }\n"

if __name__ == '__main__':
    app.run(host='{{ storage_public_ip |  ipaddr('address') }}', port=5000)

